*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}

.back-blue{
  background-color: blue;
}

.user{
  border-radius: 7px !important;

}

.header{
  background-color: rgb(206, 206, 206);
  height: 70px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 7px 7px 0 0;
  margin-top: 20px;
  width: 550px;
}

.header h5{
  margin-right: 20px;
  color: blue;

}

.form-list{
  background-color: #fff;
  border-radius: 0 0 7px 7px;
  padding: 20px;
  width: 550px;
  margin-bottom: 20px;
}

input{
  display: block;
  width: 100%;
  border-radius: 5px;
  height: 45px;
  margin-top: 10px;
  border: 1px solid grey;
}

input:focus{
outline:none;
}

label{
  margin-top: 17px;
  font-size: 15px;
}

button{
  width: 100%;
  border-radius: 5px;
  margin-top: 40px;
  height: 50px;
  background: blue;
  border: none;
  color: #fff;
  font-weight: bold;
}

.table-form{
  background: #fff;
  padding: 40px 5px;
  margin-top: 20px;
  border-radius: 7px;
}